@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-image{
  background-image: url(../../public/picture/hero-section.png);
  background-size: 150vh;
  
}
 
.wild-image{
  background-image: url(../../public/picture/take-a-walk.png);
  
}

.rock-image{
  background-image: url(../../public/picture/another-section2.png);
}

.footer-image{
  background-image: url(../../public/picture/Untitled-1.png);
  
}